*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color:#aa8f81;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00539C;
    padding: 8px 12px;
}
.navbar__logo{
    font-size: 24px;
    color: #EEA47F;
}
.navbar__logo i{
    color:white;
}
.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li:hover{
    background-color: #117bd8;
    border-radius: 4px;
}
.navbar__menu li{
    padding : 8px 12px;
}
.navbar__icons{
    list-style: none;
    color: #EEA47F;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 6px 12px;
}
.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #EEA47F;
}
@media screen and (max-width:768px){
    .navbar{
        
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align: center;
    }
    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn{
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}